<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityname" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="search" id="submit">
                    </form>

                </div>

                <div class="tempInfo">
                    <div class="topLayer">
                        <p id="day">Tuesday</p>
                        <p id="date">13 OCT</p>
                    </div>
                    <div class="mainLayer ">
                        <p id="city_name">get output here</p>
                        <div class="middleLayer data_hide">
                            <p id="temp"><span id="tmp">0</span> <sup>o</sup>C</p>
                            <p id="temp_status"> <i class="fa fa-cloud"></i></p>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <!-- footer code starts here -->
    {{>footer}}

    <script src="js/main.js"></script>
    <script>
        let day = document.getElementById('day');
        const getCurrentDay = () => {

            let weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wed";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";    
            let currentTime = new Date();
            let days = weekday[currentTime.getDay()];
            day.innerText=days;
        };
        getCurrentDay();
    </script>
</body>

</html>